<ul>
<h1>最新消息<h1>
<% @boards.each do |b| %>
  <li>
      <p>
 	   <%= b.description %>
       <%= b.year %>/
       <%= b.month %>/
       <%= b.day %>
       </p>
  </li>
<% end %>

 <%= link_to 'new', new_bulletin_path %>
</ul>
